/* style.css */

/* Resetowanie domyślnych styli */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; /* Ustaw czcionkę Arial dla całej strony */
}

/* Stylizacja nagłówka */
header {
    background-color: #580086;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
}

header img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Stylizacja opisu */
.description {
    padding: 20px;
  color: white;
}

.description h1 {
    font-size: 24px;
    margin-bottom: 10px;
  color: white;
}

/* Stylizacja formularza wymiany */
.exchange-form {
    padding: 20px;
  color: white;
}

.exchange-form h2 {
    font-size: 20px;
    margin-bottom: 10px;
  color: white;
}

form label, form input {
    display: block;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    padding: 10px;
}

form button {
    background-color: #0070e0;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Stylizacja przycisków Discord i Telegram */
.discord-telegram {
    margin-top: 20px;
}

.discord-button, .telegram-button {
    display: inline-block;
    margin-right: 10px;
}

.discord-button img, .telegram-button img {
    width: 40px;
}

/* Stylizacja rozwijanej listy i końcowej kwoty */
#paymentMethod, #finalAmount {
    color: #0070e0; /* Tekst niebieski */
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

#paymentMethod {
    width: 100%;
    font-family: Arial, sans-serif; /* Ustaw czcionkę Arial dla rozwijanej listy */
}

#finalAmount {
    display: none; /* Ukryj początkowo końcową kwotę */
}

body {
  background-color: black;
}
